# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:  #if both are even, return the lesser value
        return min(a,b)
    elif a%2!=0 or b%2!=0: #if one of them is not even (odd), return the greater value
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    '''enter a two-word string'''
    split_text = text.split();  #.split() function split the string in two words, via spaces, then index each word's first letter
    if split_text[0][0]==split_text[1][0]:
        return True
    else:
        return False

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [7]:
split_text='abc xyz'.split()
split_text

['abc', 'xyz']

In [13]:
split_text[1][0]

'x'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [8]:
def makes_twenty(n1,n2):
    if 20 in (n1,n2) or n1+n2==20:  #if 20 is in the two, OR both sum up to 20, return True, otherwise False
        return True
    else:
        return False

In [9]:
#test
20 in (10,20)

True

In [10]:
# Check
makes_twenty(20,10)

True

In [11]:
# Check
makes_twenty(2,3)

False

In [12]:
makes_twenty(11,9)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [16]:
def old_macdonald(name):
    '''enter a word'''
    name = name.capitalize() #first capitalize the whole word
    begin_slice = name[:3] #then slice the string to two, first half is the first 3 letters
    end_slice = name[3:]  #other half is the 4th letter to the end of the word
    end_slice = end_slice.capitalize() #capitalize the end slice
    proper_name = begin_slice + end_slice #concatenate the two strings together
    return proper_name

In [17]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [18]:
#Check
old_macdonald('yitian')

'YitIan'

In [13]:
#testing
name = 'macdonald'

In [14]:
name = name.capitalize()
name

'Macdonald'

In [15]:
name[:3]

'Mac'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [19]:
def master_yoda(text):
    split_text = text.split() #spilt text into a list of its words
    split_text.reverse()  #need to run reverse function by itself first
    split_text_rev = split_text  #proper way to assign reversed list
    joined_text = ' '.join(split_text_rev) #join the reversed list via spaces
    return joined_text

In [20]:
# Check
master_yoda('I am home')

'home am I'

In [21]:
# Check
master_yoda('We are ready')

'ready are We'

In [37]:
#testing

text = 'We are ready'
split_text = text.split()

In [38]:
split_text

['We', 'are', 'ready']

In [39]:
new_list = []

In [41]:
new_list.append(split_text[-1])

In [42]:
new_list

['ready']

In [54]:
new_list

['ready', 'are', 'We']

In [55]:
new_list.reverse()
rev = new_list

In [56]:
rev

['We', 'are', 'ready']

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [64]:
def almost_there(n):
    if abs(100-n)<=10 or abs(200-n)<=10:
        return True
    else:
        return False

In [65]:
# Check
almost_there(104)

True

In [66]:
# Check
almost_there(150)

False

In [67]:
# Check
almost_there(209)

True

In [70]:
almost_there(199)

True

In [63]:
#testing
abs(-10)

10

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [198]:
#followed-solution

def has_33(nums):
    for i in range(0, len(nums)-1):   #key syntax: for loop go from 0 up to the length of the array -1 (we need to check last digit)
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False  #if after finishing for-loop, above is not executed, return False

In [199]:
# Check
has_33([1, 3, 3])

True

In [183]:
mylist=[1,3,3]

In [185]:
mylist[1]==mylist[2]

True

In [200]:
# Check
has_33([1, 3, 1, 3])

False

In [203]:
# Check
has_33([3, 1, 3])

False

In [101]:
for i in [3,4,5]:
    print(i)

3
4
5

In [25]:
for i in range(0, len([3,4,5])):
    print(i)

0
1
2

In [26]:
iterating_list = range(0,2)

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [216]:
#my solution
def paper_doll(text):
    text_strings = [letter for letter in text]  #list comprehensions, split the word into a list of its letters
    for i in range(0, len(text_strings)):
        text_strings[i] = text_strings[i]+text_strings[i]+text_strings[i]
    expanded_string = ''.join(text_strings)
    return expanded_string

In [219]:
#alternative (offical) solution
def paper_doll_official(text):
    result = '' #start with empty string
    for char in text:
        result = result + char*3   # shorthand result += char*3
    return result

In [217]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [218]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [220]:
paper_doll_official('Hello')

'HHHeeellllllooo'

In [204]:
text = 'Hello'
text_strings = [letter for letter in text]

In [212]:
text_strings
joined = ''.join(text_strings)
joined

'Hello'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [37]:
def blackjack(a,b,c):
    if a+b+c<=21:  #if sum is less than or equal 21, return sum
        return a+b+c
    elif (11 in (a,b,c)) and a+b+c-10<=21: #if there is an 11, and after adjustment it's less than 21, return that adjusted sum
        return a+b+c-10
    else:                 #otherwise, bust
        return 'BUST'

In [38]:
# Check
blackjack(5,6,7)

18

In [39]:
# Check
blackjack(9,9,9)

'BUST'

In [40]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [41]:
#followed solution

def summer_69(arr):
    total = 0  #start with running total
    add = True #make a boolean indicator to add or not
    
    for num in arr:
        while add:  #while add(boolean indicator) is True, execute the following:
            if num!=6:
                total = total + num    #if the number is not 6, add up each num to total
                break   #then break out of the while loop, and go to the next element in for loop.
            else:
                add = False          #if the number is 6, make the boolean indicator false
        
        while add==False:  #while add(boolean indicator) is false, execute the following:
            if num!=9:
                break     #if the number is not 9, break out of the while loop, and go to the next element in for loop
            else:
                add = True   #if the number is 9, make the boolean indicator true (so it start adding again after 9), and break out of while loop 
                break
        
    
    
    return total

In [42]:
# Check
summer_69([1, 3, 5])

9

In [43]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [44]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [53]:
#followed solution
def spy_game(nums):
    
    code = [0,0,7,'x']
    #if detected 0, 0, and 7 in order, "pop" them off the list
    for i in nums:   #for each number in the inputted list
        if i == code[0]:  #if that number is equal to the first element in our code [0,0,7], pop off the first element in the code
            code.pop(0) 
    return len(code) == 1  #return True if there is only 'x' left in the code list

In [54]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [55]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [56]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [51]:
code = ['a','b','c','x']

In [52]:
code.pop(0)

'a'

In [50]:
code

[0, 7, 'x']

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [86]:
#followed-solution
#note this is a MATH problem + CODING problem, that's what makes it challenging

def count_primes(num):
    #check for 0 or 1 input
    if num < 2:
        return 0
    
    #2 or greater
    #make a list to keep track of prime numbers
    primes = [2]   #2 is a prime, start off list with only 2 in it
    x = 3   #set a variable = 3, and keep adding 1 to it until we hit input num, and test if each is prime or not
    
    # x is going thru every number, up to input num
    while x <= num:
        #check if x is prime
        for i in range(3,x,2):  #range selection: start with 3, go up to x, in steps of 2 (evens are by default not prime)
            if x%i == 0:  #check remainders after divison x / i (i is all oddd #s), if remainder = 0, then it is not prime
                x = x + 2  #if it's not prime, go to the next x
                break
        else:
            primes.append(x) 
            x = x + 2 #go to the next x
                #NOTE unique FOR-ELSE statment 
                #(if after going thru the for-loop, the 'break' is never executed, then it will run what's in the else statement)
    print(primes)
    return len(primes)

In [87]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [82]:
num = 20  #testing, see if prime or not

In [79]:
20%8

4

In [70]:

for i in range(2, num):
    if num % i == 0:    #between 2 and the input number, test each number i, if input number divided by i has no remainders

In [71]:
primes

[2, 4, 5, 10]

In [68]:
primes.append(1)

In [69]:
primes

[1]

In [80]:
range(2,100)

range(2, 100)

range(2, 100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!