# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [4]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    elif a%2!=0 or b%2!=0:
        return max(a,b)

In [5]:
# Check
lesser_of_two_evens(2,4)

2

In [6]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [36]:
def animal_crackers(text):
    '''enter a two-word string'''
    split_text = text.split();
    if split_text[0][0]==split_text[1][0]:
        return True
    else:
        return False

In [8]:
# Check
animal_crackers('Levelheaded Llama')

True

In [9]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [11]:
split_text='abc xyz'.split()
split_text

['abc', 'xyz']

In [13]:
split_text[1][0]

'x'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [17]:
def makes_twenty(n1,n2):
    if 20 in (n1,n2) or n1+n2==20:
        return True
    else:
        return False

In [18]:
#test
20 in (10,20)

True

In [19]:
# Check
makes_twenty(20,10)

True

In [20]:
# Check
makes_twenty(2,3)

False

In [21]:
makes_twenty(11,9)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [32]:
def old_macdonald(name):
    '''enter a word'''
    name = name.capitalize()
    begin_slice = name[:3]
    end_slice = name[3:]
    end_slice = end_slice.capitalize()
    proper_name = begin_slice + end_slice
    return proper_name

In [33]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [34]:
#Check
old_macdonald('yitian')

'YitIan'

In [22]:
#testing
name = 'macdonald'

In [35]:
name = name.capitalize()
name

'Macdonald'

In [29]:
name[3:]

'donald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [59]:
def master_yoda(text):
    split_text = text.split()
    split_text.reverse()  #need to run reverse function by itself first
    split_text_rev = split_text
    joined_text = ' '.join(split_text_rev)
    return joined_text

In [60]:
# Check
master_yoda('I am home')

'home am I'

In [61]:
# Check
master_yoda('We are ready')

'ready are We'

In [37]:
#testing

text = 'We are ready'
split_text = text.split()

In [38]:
split_text

['We', 'are', 'ready']

In [39]:
new_list = []

In [41]:
new_list.append(split_text[-1])

In [42]:
new_list

['ready']

In [54]:
new_list

['ready', 'are', 'We']

In [55]:
new_list.reverse()
rev = new_list

In [56]:
rev

['We', 'are', 'ready']

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [64]:
def almost_there(n):
    if abs(100-n)<=10 or abs(200-n)<=10:
        return True
    else:
        return False

In [65]:
# Check
almost_there(104)

True

In [66]:
# Check
almost_there(150)

False

In [67]:
# Check
almost_there(209)

True

In [70]:
almost_there(199)

True

In [63]:
#testing
abs(-10)

10

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [198]:
#followed-solution

def has_33(nums):
    for i in range(0, len(nums)-1):   #key syntax: for loop go from 0 up to the length of the array -1 (we need to check last digit)
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False  #if after finishing for-loop, above is not executed, return False

In [199]:
# Check
has_33([1, 3, 3])

True

In [183]:
mylist=[1,3,3]

In [185]:
mylist[1]==mylist[2]

True

In [200]:
# Check
has_33([1, 3, 1, 3])

False

In [203]:
# Check
has_33([3, 1, 3])

False

In [101]:
for i in [3,4,5]:
    print(i)

3
4
5

In [135]:
range(len([3,4,5]))

range(0, 3)

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [216]:
def paper_doll(text):
    text_strings = [letter for letter in text]
    for i in range(0, len(text_strings)):
        text_strings[i] = text_strings[i]+text_strings[i]+text_strings[i]
    expanded_string = ''.join(text_strings)
    return expanded_string

In [219]:
#alternative (offical) solution
def paper_doll_official(text):
    result = '' #start with empty string
    for char in text:
        result = result + char*3   # shorthand result += char*3
    return result

In [217]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [218]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [220]:
paper_doll_official('Hello')

'HHHeeellllllooo'

In [204]:
text = 'Hello'
text_strings = [letter for letter in text]

In [212]:
text_strings
joined = ''.join(text_strings)
joined

'Hello'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [243]:
def blackjack(a,b,c):
    if a+b+c<=21:
        return a+b+c
    elif (11 in (a,b,c)) and a+b+c-10<=21:
        return a+b+c-10
    else:
        return 'BUST'

In [241]:
# Check
blackjack(5,6,7)

18

In [239]:
# Check
blackjack(9,9,9)

'BUST'

In [242]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [244]:
def summer_69(arr):
    result = 0
    
    
    return result

In [230]:
# Check
summer_69([1, 3, 5])

9

In [245]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

33

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    pass

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!