# Python Object and Data Structure Basics

besides normal math operations, note Mod modulator (used to check if a number is even or odd)

In [1]:
7 % 4

3

In [2]:
50 % 5

0

In [3]:
23 % 2  #divide by 2 to see if it has remainder, if = 0, then is even

1

In [4]:
20 % 2

0

In [5]:
2 ** 3 # power

8

In [6]:
2 + 10 * 10 + 3  #note basic order of operations

105

In [7]:
(2 + 10)*(10+3)

156

In [8]:
0.1+0.2-0.3   #FAQ: floating point accuracy is the reason this is not 0.
#see full breakdown: https://docs.python.org/2/tutorial/floatingpoint.html

5.551115123125783e-17

# variables

best practice for variables: in general lower case, also avoid special keywords for python like "list" or "str"

Python is dynamic typing - we can reassign variables to different data types - very flexible (example below)

In [11]:
my_dogs = 2
my_dogs = ["Sammy", "Frankie"]  #in other languages, it will produce an error

In [12]:
my_dogs

['Sammy', 'Frankie']

be aware: may results in bugs due to different data types, need to use type()

In [13]:
a = 5

In [14]:
a

5

In [15]:
a = 10
a

10

In [16]:
a+a

20

In [17]:
a

10

In [20]:
a = a + a   #after running this, a will double

In [21]:
a

40

In [22]:
type(a)  #note different data types, int and float

int

In [24]:
a = 30.1
type(a)

float

In [25]:
# if error happens, restart kernel, which will delete all variables

In [26]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [27]:
my_taxes

10.0

# Strings

Can use single quote or double quotes
strings are ordered sequences, so we can use indexing/slicing to grab sub-sections of the string
indexing uses [] notation after the string or string variable
indexing allows grabbing a single character from the string.

Note indexs start at 0 in Python. 
0,1,2,3,4...

also reverse indexing is ok
-1 gives the last letter..

Slicing: [start:stop:step]
start: starting index
stop: stopping index but not include
step: size of the jump

In [28]:
'hello'

'hello'

In [29]:
"world"

'world'

In [30]:
'this is also a string'

'this is also a string'

In [31]:
"I'm going on a run"  #note the single quote not used to define the string

"I'm going on a run"

In [32]:
print("hello")  #using print, no longer see "out" and quotes

hello

In [33]:
print("hello world one")
print("hellow world two")

hello world one
hellow world two

In [35]:
print('hello \nworld')   #built-in functions: note \n creates a new line while printing

hello
world

In [36]:
print('hello \tworld')  #note \t creates a tab space

hello 	world

In [2]:
len('hello')  #find the length of the string

5

In [1]:
len('I am')

4

# 15. indexing and slicing strings

In [3]:
mystring = "Hello World"

In [4]:
mystring

'Hello World'

In [5]:
mystring[0]  #indexing

'H'

In [6]:
mystring[8]

'r'

In [7]:
mystring[-1] #reverse indexing, -1 is the last letter

'd'

In [8]:
mystring[-2]

'l'

In [9]:
mystring = 'abcdefghijk'

In [10]:
mystring

'abcdefghijk'

In [11]:
mystring[2:]  #start at index 2, grab to the end

'cdefghijk'

In [12]:
mystring[:3] #start from beginning, go up to 3, but not include it

'abc'

In [14]:
mystring[3:6] #note ending index is exclusive (not including the 6th index)

'def'

Step Size

In [15]:
mystring[::] #valid syntax but not necessary
#use it when want to indicate step size

'abcdefghijk'

In [16]:
mystring[::2] #jump 2 steps at a time.

'acegik'

In [17]:
mystring[::3] #jump 3 steps at a time.

'adgj'

In [18]:
mystring[2:7:2] #start at index 2, end at index 6, in step size of 2

'ceg'

In [19]:
mystring[::-1] #step size trick: step size = -1 means to go backwards one step

'kjihgfedcba'

# 16. string property and methods

In [ ]:
#Immutability

In [20]:
name = "Sam"

In [21]:
name[0] = 'P' #if want to change a letter in a string...?

TypeError: 'str' object does not support item assignment

string object does not support item assignment. -> strings are immutable -> can't reassign string components

but can modify strings by concatenation.

In [26]:
last_letters = name[1:] #grab the last two letters of "name"

In [27]:
last_letters

'am'

In [28]:
'P' + last_letters  #execute string concatenation with the + sign

'Pam'

In [29]:
x = 'Hello World'

In [33]:
x = x + " it is beautiful outside!"
x

'Hello World it is beautiful outside! it is beautiful outside!'

Also, multiple string concatenation is possible

In [34]:
letter = 'z'

In [35]:
letter * 10  # using * (multiply) sign with letters

'zzzzzzzzzz'

Note the difference between data type when using addition / multiplication symbol.

In [36]:
2 + 3 #normal addition of numbers

5

In [37]:
'2' + '3' #string concatenation

'23'

Built-in string methods

In [38]:
x = 'Hello World'

In [39]:
#press tab after period to see all available methods
x.upper()   #change the whole string to upper case, remember to use () to execute the method/function
#(this syntax does not change x, you would need to reassign the line to a variable to store it/change x)

'HELLO WORLD'

In [40]:
x.lower()  #change all to lower case

'hello world'

In [41]:
x.split()  #split the string into a list, base on the spaces it had in the string

['Hello', 'World']

In [43]:
x = 'Hi this is a string'

In [44]:
x.split()  #by default, split method splits on spaces

['Hi', 'this', 'is', 'a', 'string']

In [45]:
x.split('i') #can also specify what string/character the split on, in this case, split by the letter i

['H', ' th', 's ', 's a str', 'ng']

# Print formatting with strings