# Python Object and Data Structure Basics

besides normal math operations, note Mod modulator (used to check if a number is even or odd)

In [1]:
7 % 4

3

In [2]:
50 % 5

0

In [3]:
23 % 2  #divide by 2 to see if it has remainder, if = 0, then is even

1

In [4]:
20 % 2

0

In [5]:
2 ** 3 # power

8

In [6]:
2 + 10 * 10 + 3  #note basic order of operations

105

In [7]:
(2 + 10)*(10+3)

156

In [8]:
0.1+0.2-0.3   #FAQ: floating point accuracy is the reason this is not 0.
#see full breakdown: https://docs.python.org/2/tutorial/floatingpoint.html

5.551115123125783e-17

# variables

best practice for variables: in general lower case, also avoid special keywords for python like "list" or "str"

Python is dynamic typing - we can reassign variables to different data types - very flexible (example below)

In [11]:
my_dogs = 2
my_dogs = ["Sammy", "Frankie"]  #in other languages, it will produce an error

In [12]:
my_dogs

['Sammy', 'Frankie']

be aware: may results in bugs due to different data types, need to use type()

In [13]:
a = 5

In [14]:
a

5

In [15]:
a = 10
a

10

In [16]:
a+a

20

In [17]:
a

10

In [20]:
a = a + a   #after running this, a will double

In [21]:
a

40

In [22]:
type(a)  #note different data types, int and float

int

In [24]:
a = 30.1
type(a)

float

In [25]:
# if error happens, restart kernel, which will delete all variables

In [26]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [27]:
my_taxes

10.0

# Strings

Can use single quote or double quotes
strings are ordered sequences, so we can use indexing/slicing to grab sub-sections of the string
indexing uses [] notation after the string or string variable
indexing allows grabbing a single character from the string.

Note indexs start at 0 in Python. 
0,1,2,3,4...

also reverse indexing is ok
-1 gives the last letter..

Slicing: [start:stop:step]
start: starting index
stop: stopping index but not include
step: size of the jump

In [28]:
'hello'

'hello'

In [29]:
"world"

'world'

In [30]:
'this is also a string'

'this is also a string'

In [31]:
"I'm going on a run"  #note the single quote not used to define the string

"I'm going on a run"

In [32]:
print("hello")  #using print, no longer see "out" and quotes

hello

In [33]:
print("hello world one")
print("hellow world two")

hello world one
hellow world two

In [35]:
print('hello \nworld')   #built-in functions: note \n creates a new line while printing

hello
world

In [36]:
print('hello \tworld')  #note \t creates a tab space

hello 	world

In [2]:
len('hello')  #find the length of the string

5

In [1]:
len('I am')

4

# 15. indexing and slicing strings

In [3]:
mystring = "Hello World"

In [4]:
mystring

'Hello World'

In [5]:
mystring[0]  #indexing

'H'

In [6]:
mystring[8]

'r'

In [7]:
mystring[-1] #reverse indexing, -1 is the last letter

'd'

In [8]:
mystring[-2]

'l'

In [9]:
mystring = 'abcdefghijk'

In [10]:
mystring

'abcdefghijk'

In [11]:
mystring[2:]  #start at index 2, grab to the end

'cdefghijk'

In [12]:
mystring[:3] #start from beginning, go up to 3, but not include it

'abc'

In [14]:
mystring[3:6] #note ending index is exclusive (not including the 6th index)

'def'

Step Size

In [15]:
mystring[::] #valid syntax but not necessary
#use it when want to indicate step size

'abcdefghijk'

In [16]:
mystring[::2] #jump 2 steps at a time.

'acegik'

In [17]:
mystring[::3] #jump 3 steps at a time.

'adgj'

In [18]:
mystring[2:7:2] #start at index 2, end at index 6, in step size of 2

'ceg'

In [19]:
mystring[::-1] #step size trick: step size = -1 means to go backwards one step

'kjihgfedcba'

# 16. string property and methods

In [ ]:
#Immutability

In [20]:
name = "Sam"

In [21]:
name[0] = 'P' #if want to change a letter in a string...?

TypeError: 'str' object does not support item assignment

string object does not support item assignment. -> strings are immutable -> can't reassign string components

but can modify strings by concatenation.

In [26]:
last_letters = name[1:] #grab the last two letters of "name"

In [27]:
last_letters

'am'

In [28]:
'P' + last_letters  #execute string concatenation with the + sign

'Pam'

In [29]:
x = 'Hello World'

In [33]:
x = x + " it is beautiful outside!"
x

'Hello World it is beautiful outside! it is beautiful outside!'

Also, multiple string concatenation is possible

In [34]:
letter = 'z'

In [35]:
letter * 10  # using * (multiply) sign with letters

'zzzzzzzzzz'

Note the difference between data type when using addition / multiplication symbol.

In [36]:
2 + 3 #normal addition of numbers

5

In [37]:
'2' + '3' #string concatenation

'23'

Built-in string methods

In [1]:
x = 'Hello World'

In [2]:
#press tab after period to see all available methods
x.upper()   #change the whole string to upper case, remember to use () to execute the method/function
#(this syntax does not change x, you would need to reassign the line to a variable to store it/change x)

'HELLO WORLD'

In [40]:
x.lower()  #change all to lower case

'hello world'

In [41]:
x.split()  #split the string into a list, base on the spaces it had in the string

['Hello', 'World']

In [43]:
x = 'Hi this is a string'

In [44]:
x.split()  #by default, split method splits on spaces

['Hi', 'this', 'is', 'a', 'string']

In [45]:
x.split('i') #can also specify what string/character the split on, in this case, split by the letter i

['H', ' th', 's ', 's a str', 'ng']

# Print formatting with strings

Injecting variable into strings, usually by concatentation

But we can use string interpolation

In [ ]:
#METHOD 1: .format() method

format:

‘String here {} then also {}’.format('something1','something2')

In [8]:
print('This is a string {}'.format('INSERTED'))
#strings inside the format() function will be inserted at {} curly braces of the original string

This is a string INSERTED

In [10]:
print('The {} {} {}'.format('fox', 'brown','quick'))
#can be used to insert multiple strings, by default left to right

The fox brown quick

In [11]:
#can also insert string by index position within the format parentheses.

print('The {2} {1} {0}'.format('fox', 'brown','quick'))

#quick is index 2, brown is index 1, fox is index 0.

The quick brown fox

In [12]:
print('The {0} {0} {0}'.format('fox', 'brown','quick'))

The fox fox fox

In [13]:
#assign keywords to insert with more intuition
#also, can be repeated like above
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

Float formatting:

{value:width.precision f}

In [14]:
#Float formatting with floating point numbers
result = 100/777
result

0.1287001287001287

In [15]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [19]:
print("The result was {r:1.3f}".format(r=result))
#float format: value r, width 1, precision 3 digits
#note width is just white space before the number in case the number need more digits

The result was 0.129

In [ ]:
#METHOD 2: f-strings (formatted string literals)
#introduced in Python 3.6

In [21]:
name = "Jose"

In [22]:
#usually:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [24]:
#instead, we can insert f at the beginning of string and insert string variable directly
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [25]:
#it works with multiple variables
name = "Sam"
age = 3

In [27]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

# Lists

In [28]:
#list can hold a variety of object types.
#list can be also indexed and sliced like strings.
#use brackets [] with objects within to make lists

In [2]:
my_list = [1,2,3] #list of intergers

In [3]:
my_list2 = ['STRING', 100, 23.2] #list of variety of variable types

In [4]:
len(my_list2)  #here, len() can check the number of items in the list

3

In [5]:
#slicing and indexing works for lists just like strings
mylist = ['one','two','three']

In [6]:
mylist[0] #indexing

'one'

In [7]:
mylist[1:] #slicing

['two', 'three']

In [8]:
mylist

['one', 'two', 'three']

In [9]:
another_list = ['four','five']

In [23]:
new_list = mylist + another_list #list concatentation also works with + sign
new_list

['one', 'two', 'three', 'four', 'five']

In [13]:
#DIFFERENT from a string, you can change stuff in a list
new_list

['one', 'two', 'three', 'four', 'five']

In [24]:
new_list[0] = 'ONE ALL CAPS' #example, changing the first element in the new_list to all caps
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [25]:
#Adding new element(s) to the end of a list: .append function
new_list.append('six')
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [26]:
new_list.append('seven')
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [27]:
#Removing element(s) from the end of a list: .pop function
new_list.pop()
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [28]:
popped_item = new_list.pop() #note that the pop function returns the popped item itself

In [29]:
popped_item

'six'

In [30]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [31]:
#Removing element(s) from a list at a specific location:
new_list.pop(0)

'ONE ALL CAPS'

In [32]:
new_list

['two', 'three', 'four', 'five']

In [ ]:
#by default, .pop function's index is -1 (the last element), so reverse indexing also works here.

In [ ]:
#Another two common functions, sort and reverse

In [33]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [36]:
new_list.sort() #doesn't return anything, but essentially it sorted it in abc order and replaced it in the variable
#IMPORTANT because you can't assign this line to a new variable
#SOMETHING LIKE: my_sorted_list = newlist.sort() will not assign the sorted list to my_sorted_list, it will have nothing 
#(NoneType variable)

In [37]:
new_list

['a', 'b', 'c', 'e', 'x']

In [38]:
#correct way to assign sorted list to new variable:
new_list.sort()
my_sorted_list = new_list

In [39]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [40]:
num_list

[4, 1, 8, 3]

In [41]:
num_list.sort()

In [42]:
num_list

[1, 3, 4, 8]

In [44]:
#Reverse method
num_list.reverse()

In [45]:
num_list

[8, 4, 3, 1]

In [ ]:
#lists can also be NESTED... more on this later.

# Dictionaries

In [46]:
#Dictionaries = unordered mappings for storing objects
#lists store objects in an ordered sequence, dictionaries uses a key-value pairing instead.
#allow user to quickly grab objects without knowing index location

In [47]:
#use curly braces {} and colons to create keys and their associated values to assemble the dictionary

{'key1':'value1', 'key2':'value2'}

when to use LISTS and when to use DICTIONARIES?

DICTIONAIRES: objects retrieved by key name.
they are unordered and cannot be sorted.

LISTS: objects retrieved by location(index).
they are ordered sequence, and can be indexed or sliced.

In [49]:
my_dict = {'key1':'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [50]:
#to grab values from dictionaries, still use the same [] brackets, but use key values
my_dict['key1']

'value1'

In [51]:
#A GOOD USE for a dictionaries is prices in a store.
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [52]:
prices_lookup['apple']

2.99

In [54]:
#NOTE: Dictionaries are SUPER FLEXIBLE in terms of data types that it can hold for the values.
#A Dictionary can hold lists, and can hold other dictionaries.

d = {'k1':123, 'k2':[0,1,2], 'k3':{'insideKey':100}}
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 100}}

In [56]:
d['k2']

[0, 1, 2]

In [57]:
d['k3']

{'insideKey': 100}

In [58]:
#to call elements of a list/dictionary within a dictionary, call on top of the called list/dictionary
d['k3']['insideKey']

100

In [59]:
d['k2'][2]

2

In [61]:
#ANOTHER EXAMPLE
d = {'key1':['a','b','c']}
d

{'key1': ['a', 'b', 'c']}

In [62]:
mylist = d['key1']
mylist

['a', 'b', 'c']

In [64]:
letter = mylist[2]
letter

'c'

In [65]:
letter.upper()   #IN THESE 3 LINES, defined a list within a dictionary, called the third element within the list

'C'

In [66]:
d

{'key1': ['a', 'b', 'c']}

In [68]:
#do to it with one line:
d['key1'][2].upper()

'C'

In [69]:
#To add new key value pairs to the dictionary
d = {'k1':100, 'k2':200}
d

{'k1': 100, 'k2': 200}

In [70]:
d['k3'] = 300

In [71]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [72]:
#To override existing key value pairs in the dictionary
d['k1'] = 'NEW VALUE'

In [73]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [74]:
#FEW USEFUL DICTIONARY METHODS
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [76]:
#To see all the keys in a dictionary: .keys() method
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [77]:
#to see all the values in a dictionary: .values() method
d.values()

dict_values([100, 200, 300])

In [78]:
#to see all the pairings in a dictionary: .items() method
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [ ]:
#NOTE: the above results shows pairings in parentheses, which are TUPLES, more on this later.
#NOTE2: if want ordering capabilities for a dictionary, note the "ordereddict" object lecture later.

# Tuples

In [ ]:
#TUPLES are very similar to LISTS, but one key difference - TUPLES are immutable. 
#immutability = objects within cannot be changed
#Once an element is inside a tuple, it cannot be reassigned.
#use () parenthesis to create tuples, instead of [] brackets for lists

In [79]:
t = (1,2,3)

In [80]:
mylsit = [1,2,3]

In [81]:
type(t)

tuple

In [82]:
type(mylist)

list

In [83]:
len(t) #can check length of a tuple

3

In [84]:
t

(1, 2, 3)

In [86]:
#Just like a list, you can mix object types in a tuple
t = ('one',2)
t

('one', 2)

In [87]:
#just like a list, you can use slicing and indexing
t[0]

'one'

In [88]:
t[-1]

2

In [89]:
#two basic built-in methods for tuples, index() and count()

In [90]:
t = ('a','a','b')
t.count('a')  #count() is used to count how many of a element is within a tuple

2

In [91]:
t.index('a') #index() is used to return the first index of a desired element (the first time it appears)

0

In [92]:
t.index('b')

2

In [93]:
#WHAT MAKES A TUPLE DIFFERENT THAN A LIST: A Tuple's immutability

In [94]:
t

('a', 'a', 'b')

In [95]:
mylist

['a', 'b', 'c']

In [96]:
mylist[0] = 'NEW'
mylist

['NEW', 'b', 'c']

In [97]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#WHY use tuples?
#passing around objects in a program, to make sure values doesn't get change
#tuples provide a convenient solution to data integrity - can't do reassignments by accident, in larger pieces of code

#NOTE: a tuple's elements may contain list(s).

# Sets

In [1]:
#Sets are unordered collections of UNIQUE elements. (cannot have two of the same elements inside)

In [ ]:
#there can only be one representative of the same object

In [2]:
myset = set()

In [4]:
#created an empty set
myset

set()

In [6]:
#to add a number to a set, call the set variable name with dot notation (function call)
myset.add(1)
myset

{1}

In [8]:
myset.add(2)
myset

{1, 2}

In [9]:
myset.add(2)
myset #adding the same element another time will not create another element in the same set, hence the unique-ness

{1, 2}

In [11]:
#can cast a list to a set
mylist = [1,1,1,1,1,2,2,2,3,3,3,3]

In [12]:
set(mylist)  #create a set out of a list, to collect all the unique elements in a set

{1, 2, 3}

In [13]:
set('Mississippi') #can also do the same thing with a string

{'M', 'i', 'p', 's'}

# Booleans

In [ ]:
#booleans = operators that can convey TRUE or FALSE - important when dealing with flow and logic
#we work with comparison operators to deal with booleans

In [14]:
True  #note capitalize T or F

True

In [15]:
False

False

In [16]:
type(False) #check the type

bool

In [17]:
1 > 2 #is one greater than 2, false

False

In [18]:
1 == 1

True

In [19]:
#"None" can be used as a placeholder for variable, to avoid errors, and to assign something to it later.
b = None

# Files input and output

In [ ]:
#how to perform simple i/o with basic .txt files

In [ ]:
#Jupyter notebook has its own writing txt capabilities

In [20]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [21]:
myfile = open('myfile.txt')

In [22]:
myfile = open('whoops_wrong.txt')  #pay attention to the file name

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [24]:
pwd #print working directory

'C:\\Users\\yitian\\Desktop\\Python'

In [25]:
myfile = open('myfile.txt')

In [27]:
myfile.read()  #returns a giant string of the text file, note "\n" to denote new line

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [28]:
myfile.read() #reading repeatedly doesn't work, since the cursor is now at the end of the text, need to reset cursor

''

In [29]:
myfile.seek(0)

0

In [30]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [32]:
myfile.seek(0) #doing this resets the txt reading cursor

0

In [33]:
#can assign the string to something else
contents = myfile.read()
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [34]:
#more useful if can make a list of strings, one line each item
myfile.seek(0)

0

In [35]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

To open a text file for any location on computer, pass the entire file path:

myfile = open("C:\\Users\\UserName\\Folder\\test.txt")

In [36]:
#for best practie, need to close the file after done with it.
myfile.close()

In [39]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [ ]:
#if do this, no longer need to close the file.

In [40]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [48]:
#We can also write to files, note if press shift+tab at open(, will open up all possible defined parameters for the function
#(documentation on the fly)
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [44]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

 mode = 'r' is read only
 mode = 'w' is write only (will overwrite or create new file)
 mode = 'a' is append only (will add on to files)
 mode = 'r+' is reading and writing
 mode = 'w+' is writing and reading (overwrites existing files or creates a new file)

In [55]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [56]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [57]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH') #append mode: add on another line to the end of the text, note the \n for new line

In [58]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [59]:
with open('dasdfahsdfj.txt', mode='w') as f:
    f.write('I CRAETED THIS FILE!')  #write mode, write to a new file or existing file.

In [60]:
with open('dasdfahsdfj.txt', mode='r') as f:
    print(f.read())

I CRAETED THIS FILE!