Mod modulator (used to check if a number is even or odd)

In [1]:
7 % 4

3

In [2]:
50 % 5

0

In [3]:
23 % 2  #divide by 2 to see if it has remainder, if = 0, then is even

1

In [4]:
20 % 2

0

In [5]:
2 ** 3 # power

8

In [6]:
2 + 10 * 10 + 3  #note basic order of operations

105

In [7]:
(2 + 10)*(10+3)

156

In [8]:
0.1+0.2-0.3   #FAQ: floating point accuracy is the reason this is not 0.
#see full breakdown: https://docs.python.org/2/tutorial/floatingpoint.html

5.551115123125783e-17

# variables

best practice for variables: in general lower case, also avoid special keywords for python like "list" or "str"

Python is dynamic typing - we can reassign variables to different data types - very flexible (example below)

In [11]:
my_dogs = 2
my_dogs = ["Sammy", "Frankie"]  #in other languages, it will produce an error

In [12]:
my_dogs

['Sammy', 'Frankie']

be aware: may results in bugs due to different data types, need to use type()

In [13]:
a = 5

In [14]:
a

5

In [15]:
a = 10
a

10

In [16]:
a+a

20

In [17]:
a

10

In [20]:
a = a + a   #after running this, a will double

In [21]:
a

40

In [22]:
type(a)  #note different data types, int and float

int

In [24]:
a = 30.1
type(a)

float

In [25]:
# if error happens, restart kernel, which will delete all variables

In [26]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [27]:
my_taxes

10.0

# Strings

Can use single quote or double quotes
strings are ordered sequences, so we can use indexing/slicing to grab sub-sections of the string
indexing uses [] notation after the string or string variable
indexing allows grabbing a single character from the string.

Note indexs start at 0 in Python. 
0,1,2,3,4...

also reverse indexing is ok
-1 gives the last letter..

Slicing: [start:stop:step]
start: starting index
stop: stopping index but not include
step: size of the jump

In [28]:
'hello'

'hello'

In [29]:
"world"

'world'

In [30]:
'this is also a string'

'this is also a string'

In [31]:
"I'm going on a run"  #note the single quote not used to define the string

"I'm going on a run"

In [32]:
print("hello")  #using print, no longer see "out" and quotes

hello

In [33]:
print("hello world one")
print("hellow world two")

hello world one
hellow world two

In [35]:
print('hello \nworld')   #built-in functions: note \n creates a new line while printing

hello
world

In [36]:
print('hello \tworld')  #note \t creates a tab space

hello 	world

In [37]:
len('hello')  #find the length of the string

5

In [38]:
len('I am')

4